.conteudo {
  display: flex;
  padding: 20px;
  margin-left: 10px;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}

form {
  display: flex;
  flex-direction: column;
}