.header {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.descricao {
  margin-top: 10px;
  margin-left: 30px;
  font-style: italic;
}

.conteudo {
  display: flex;
  padding: 20px;
  margin-left: 10px;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}